{% extends "main/index.html.html" %}

{% block content %}
    <div class="block-record_table">
        <table class="record_table">
            <tr class="player-name-title">
                <td class="player-name">Название пользователя</td>
                <td class="score-player title-table">Кол-во съеденных яблок</td>
                <td class="record-player title-table">Максимальное кол-во съеденных яблок</td></tr>
            <tr class="player"><td class="score-player"></td><td class="record-player">?</td></tr>
        </table>
    </div>
{% endblock  %}
